@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.662);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__bg.active {
  opacity: 1;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  pointer-events: all;
  z-index: 55;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  width: 450px;
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 5px;
}

.popup.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 60;
}

.close-popup {
  width: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.popup label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 25px;
}

.label__text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: gray;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.popup input {
  height: 50px;
  font-size: 18px;
  border: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #dadada;
}

.popup input:focus + .label__text {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: black;
}

.popup__button {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border: 1px solid #454545;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  color: black;
  letter-spacing: 2px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.popup__button:hover {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(20, 34, 45, 0.388);
          box-shadow: 4px 4px 8px 0px rgba(20, 34, 45, 0.388);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background-color: black;
  color: #fff;
}

@media (max-width: 480px) {
  .popup {
    width: 350px;
  }
}

@media (max-width: 390px) {
  .popup {
    width: 280px;
  }
}

@media (max-width: 310px) {
  .popup {
    width: 240px;
  }
}

@media (max-height: 420px) {
  .popup label {
    margin-bottom: 15px;
  }
  .popup input {
    height: 40px;
  }
  .popup__button {
    height: 45px;
  }
}

@media (max-height: 360px) {
  .popup {
    padding: 20px;
  }
  .popup input {
    height: 35px;
  }
  .label__text {
    font-size: 14px;
  }
}

@media (max-height: 300px) {
  .popup {
    padding: 15px;
  }
}

.header {
  padding: 55px 0px 0px 0px;
  width: 100%;
  height: 100vh;
  background: url("../img/backgroundI.jpg") no-repeat;
  background-position: top;
  background-size: cover;
  text-transform: uppercase;
}

.header__body {
  color: white;
}

.header__top {
  margin: 0px 0px 215px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: inline-block;
  margin: 0px 70px 0px 0px;
  z-index: 5;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Anton';
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.header__list a:nth-child(4) {
  margin: 0px;
}

.header__item {
  margin: 0px 40px 0px 0px;
  color: white;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__item:hover {
  color: #9b8b8b;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__phone {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Anton';
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.1em;
  margin: 0px 0px 0px 577px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__phone:hover {
  color: #9b8b8b;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__burger {
  display: none;
}

.header__bottom {
  margin: 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__title {
  font-family: 'Anton';
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.1em;
}

.header__subtitle {
  font-family: 'Anton';
  font-size: 100px;
  line-height: 151px;
  letter-spacing: 0em;
}

.header__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  font-family: 'Anton';
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  display: inline-block;
  width: 238px;
  height: 57px;
  border: 1px solid white;
  padding: 15px 0px 0px 0px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.header__button:hover {
  color: black;
  background-color: white;
}

@media (max-width: 1155px) {
  .header__phone {
    margin: 0px 0px 0px 475px;
  }
}

@media (max-width: 1050px) {
  .header__phone {
    margin: 0px 0px 0px 375px;
  }
  .header__title {
    font-size: 26px;
  }
  .header__subtitle {
    font-size: 90px;
  }
}

@media (max-width: 950px) {
  .header__phone {
    margin: 0px 0px 0px 340px;
  }
}

@media (max-width: 930px) {
  .header__phone {
    margin: 0px 0px 0px 280px;
  }
  .header__title {
    font-size: 25px;
    line-height: 38px;
  }
  .header__subtitle {
    font-size: 85px;
    line-height: 121px;
  }
  .header__top {
    margin: 0px 0px 180px 0px;
  }
}

@media (max-width: 855px) {
  .header__phone {
    margin: 0px 0px 0px 220px;
  }
}

@media (max-width: 800px) {
  .header__phone {
    margin: 0px 0px 0px 100px;
  }
  .header__logo {
    margin: 0px 130px 0px 0px;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 20px;
    line-height: 30px;
  }
  .header__subtitle {
    font-size: 70px;
    line-height: 105px;
  }
  .header__top {
    margin: 0px 0px 150px 0px;
  }
  .header__logo {
    margin: 0;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__menu {
    display: inline-block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background: rgba(158, 158, 158, 0.2);
    padding: 100px 10px 20px 10px;
    text-align: center;
    z-index: 2;
  }
  .header__menu.active {
    top: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .header__bottom.active {
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header__nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__item {
    margin: 0;
    font-size: 22px;
    line-height: 60px;
    display: block;
  }
  .header__list {
    display: block;
    margin-top: 70px;
  }
  .header__phone {
    margin: 0;
    font-size: 22px;
    line-height: 60px;
  }
}

@media (max-width: 400px) {
  .header__title {
    font-size: 16px;
    line-height: 24px;
  }
  .header__subtitle {
    font-size: 50px;
    line-height: 75px;
  }
}

@media (max-width: 300px) {
  .header__title {
    font-size: 12px;
    line-height: 18px;
  }
  .header__subtitle {
    font-size: 40px;
    line-height: 60px;
  }
  .header__button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: white;
    font-family: 'Anton';
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 180px;
    height: 50px;
  }
}

@media (max-height: 670px) {
  .header__top {
    margin: 0px 0px 180px 0px;
  }
}

@media (max-height: 560px) {
  .header__top {
    margin: 0px 0px 100px 0px;
  }
  .header__menu {
    padding: 60px 10px 20px 10px;
  }
}

@media (max-height: 500px) {
  .header__menu {
    padding: 40px 10px 20px 10px;
  }
  .header__item {
    line-height: 50px;
  }
  .header__phone {
    line-height: 50px;
  }
}

@media (max-height: 470px) {
  .header__top {
    margin: 0px 0px 40px 0px;
  }
}

@media (max-height: 415px) {
  .header__title {
    font-size: 25px;
  }
  .header__subtitle {
    font-size: 80px;
    line-height: 100px;
  }
  .header__top {
    margin: 0px 0px 30px 0px;
  }
  .header__menu {
    padding: 30px 10px 20px 10px;
  }
  .header__item {
    line-height: 45px;
  }
  .header__phone {
    line-height: 45px;
  }
}

@media (max-height: 400px) {
  .header {
    padding-top: 30px;
  }
  .header__menu {
    padding: 10px 10px 20px 10px;
  }
}

@media (max-height: 360px) {
  .header__title {
    font-size: 22px;
    line-height: 30px;
  }
  .header__subtitle {
    font-size: 60px;
    line-height: 80px;
  }
}

@media (max-height: 330px) {
  .header {
    padding-top: 20px;
  }
  .header__menu {
    padding: 0px 10px 20px 10px;
  }
  .header__item {
    line-height: 40px;
  }
  .header__phone {
    line-height: 40px;
  }
}

@media (max-height: 320px) {
  .header__title {
    font-size: 18px;
    line-height: 24px;
  }
  .header__subtitle {
    font-size: 50px;
    line-height: 60px;
  }
  .header__button {
    height: 50px;
    line-height: 20px;
  }
}

.about {
  margin: 100px 0px 0px 0px;
}

.about__body {
  margin: 0;
}

.about__title {
  margin: 0px 0px 60px 0px;
  font-family: 'Anton';
  font-size: 50px;
  font-weight: 400;
  line-height: 75px;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  width: 49%;
}

.about__subtitle {
  margin: 0px 0px 35px 0px;
  font-family: 'Anton';
  font-size: 25px;
  line-height: 38px;
}

.about__text {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 26px;
}

.white__text {
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about__images {
  margin: 65px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__images img {
  width: 49%;
  max-height: 330px;
}

.about__image {
  margin: 65px 0px 0px 0px;
}

.about__image img {
  width: 100%;
  max-height: 330px;
}

@media (max-width: 716px) {
  .about {
    margin: 50px 0px 0px 0px;
  }
  .about__item {
    width: 100%;
  }
  .about__images {
    margin: 20px 0px 40px 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .about__images img {
    width: 45%;
  }
  .about__image {
    margin: 20px 0px 40px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__image img {
    width: 80%;
  }
  .about__title {
    margin: 0px 0px 30px 0px;
    font-family: 'Anton';
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
  }
  .about__subtitle {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 580px) {
  .about__image img {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .about__title {
    font-size: 44px;
    line-height: 66px;
  }
  .about__images img {
    width: 49%;
  }
  .about__text {
    font-size: 14px;
    line-height: 20px;
  }
  .about__images {
    margin: 15px 0px 30px 0px;
  }
  .about__image {
    margin: 15px 0px 30px 0px;
  }
}

@media (max-width: 380px) {
  .about__title {
    font-size: 38px;
    line-height: 50px;
  }
  .about__subtitle {
    font-size: 20px;
    line-height: 32px;
  }
}

.footer {
  margin: 125px 0px 0px 0px;
  padding-bottom: 80px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__project {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 20px;
}

.footer__signature {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 20px;
  margin: 0px 0px 0px 10%;
}

@media (max-width: 717px) {
  .footer {
    margin: 30px 0px 0px 0px;
    padding-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .footer__body {
    display: block;
  }
  .footer__signature {
    margin: 0;
  }
}

.lobby__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 0px 0px 20px 0px;
}

.Button-Lobby {
  display: inline-block;
  background: black;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
  border-radius: 10px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  width: 220px;
  height: 60px;
  line-height: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Button-Lobby:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

@media (max-width: 716px) {
  .lobby__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding: 0px 15px;
  margin: 0px auto;
}
