.lobby__body {
    display: flex;
    justify-content: right;
    padding: 0px 0px 20px 0px;
}


.Button-Lobby{
display: inline-block;
background: black;
font-family: 'DM Sans', sans-serif;
font-weight: 400;
font-size: 22px;
color: white;
border-radius: 10px;
letter-spacing: 1px;
text-align: center;
cursor: pointer;
width: 220px;
height: 60px;
line-height: 60px;
transition: 0.3s;
} 

.Button-Lobby:hover{
transform: scale(1.04);
    }


@media (max-width:716px) {
    .lobby__body {
        justify-content: center;
    }
}