@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
//  font-family: 'Anton', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
//  font-family: 'Open Sans', sans-serif;

//  scss files
@import "_nullstyle";
@import "_popup";
@import "_header";
@import "_about";
@import "_footer";
@import"_lobbybutton";



/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

body.lock {
    overflow: hidden;
}

.container{
    max-width: 1150px;
    padding: 0px 15px;
    margin: 0px auto;
}




// Телефони — 320, 480;
// Планшети — 768;
// Нетбуки — 1024;
// Монітори — 1280, 1600, 1920.

// @media (max-width:1280px) {
// }
// @media (max-width:1024px) {
// }
// @media (max-width:850px) {
// }
// @media (max-width:768px)
//                                 Бургер Хедер
// }
// @media (max-width:480px) {
// }
// @media (max-width:320px) {
// }